﻿@model Folio_Test.Model.Student

@{
    ViewBag.Title = "Details";
}

<h2>Student Details</h2>

<div>

    <dl class="dl-horizontal">
 

        <dd>
            <table class="table">
                <tr>
                    <th>Student Name</th>
                    <th>Age</th>
                    <th>GPA</th>
                </tr>
                @foreach (var item in Model.Enrollments)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Student.StudentName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Student.Age)
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.Student.Gpa)
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { id = item.Student.ID }) |
                            @Html.ActionLink("Delete", "Delete", new { id = item.Student.ID })
                        </td>
                    </tr>
                }
            </table>
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
