﻿@model  IEnumerable<Folio_Test.Model.Course>

@{
    ViewBag.Title = Session["CourseTitle"];
}
<h2>@ViewBag.Title </h2>

<div id="enrolledStudents">
    <dl class="dl-horizontal">
        <dd>
            <table class="table" id="studentList">
                <tr>
                    <th>Student Name</th>
                    <th>Age</th>
                    <th>GPA</th>
                </tr>
                @foreach (var item in Model)
                {
                    foreach (var item1 in item.Enrollments)
                    {

                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item1.Student.StudentName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item1.Student.Age)
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item1.Student.Gpa)
                        </td>
                        <td>

                            @Html.ActionLink("Edit", "Edit", "Students", new { item1.Student.ID }, null) |
                            @Html.ActionLink("Delete", "Delete", "Students", new { id = item1.Student.ID }, null)
                        </td>
                    </tr>
                    }
                }
                <tr>
                    <td>
                        <p>
                            @Html.ActionLink("ADD", "Create", "Students", @"ViewBag.Title", null)
                        </p>
                    </td>
                </tr>
            </table>
        </dd>

    </dl>
</div>
