﻿@model Folio_Test.Model.Course

@{
    ViewBag.Title = Model.CourseTitle;
}
<h2>@ViewBag.Title</h2>

<div>
    <dl class="dl-horizontal">
        <dd>
            <table class="table">
                <tr>
                    <th>Student Name</th>
                    <th>Age</th>
                    <th>GPA</th>
                </tr>
                @foreach (var item in Model.Enrollments)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Student.StudentName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Student.Age)
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.Student.Gpa)
                        </td>
                        <td>

                            @Html.ActionLink("Edit", "Edit", "Students", new { item.Student.ID }, null) |
                            @Html.ActionLink("Delete", "Delete", "Students", new { id = item.Student.ID }, null)
                        </td>
                    </tr>
                }
                <tr>
                    <td>
                        <p>
                            @Html.ActionLink("ADD", "Create", "Students", @"ViewBag.Title", null)
                        </p>
                    </td>
                </tr>
            </table>
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CourseID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
