﻿@model IEnumerable<Folio_Test.Model.Course>

@{
    ViewBag.Title = "Classes";
}

<h2>@ViewBag.Title</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CourseTitle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Location)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TeacherName)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>

                @Ajax.ActionLink(item.CourseTitle,"Details","Courses",new { id= item.CourseID },
        new AjaxOptions()
        {
            HttpMethod = "GET",
            InsertionMode = InsertionMode.Replace,
            AllowCache = false,
            UpdateTargetId = "enrolledStudents",
            OnBegin= " HighLightRowsGpaThreeGreater('studentList', 3, 3.0)",
            OnSuccess = " HighLightRowsGpaThreeGreater('studentList', 3, 3.0)"
        })
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Location)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TeacherName)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.CourseID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.CourseID })
            </td>
        </tr>

    }
    <tr>
        <td>
            <p>
                @Html.ActionLink("ADD", "Create")
            </p>
        </td>
    </tr>
</table>

@Html.Partial("_studentPartialView", Session["Course"] as List<Folio_Test.Model.Course>)

@Scripts.Render("~/bundles/FolioOne")

<script type="text/javascript">

    $(document).ready(function () {
        HighLightRowsGpaThreeGreater('studentList', 3, 3.0);
    });

    function HighLightRowsGpaThreeGreater(gridviewID, columnIndex, value) {
        $("#" + gridviewID + " td:nth-child(" + columnIndex + ")").each(function () {
            if (parseInt($(this).text()) >= value) {
                $(this).parent("tr").css("background-color", "Lavender ");
            }
        });
    }
</script>